<div class="row m-3">
  <div class="col-md-5 col-12">
    <img src="{{baseUrl + image?.filePath}}" routerLink="/plant/{{allData.plant.id}}" class="img-size rounded-2">
  </div>
  <div class="col-md-7 col-12 fs-5 mt-md-0 mt-3" >
    <div class="info-bg text-center shadow rounded-2 h-100">
      <h2 class="pacifico text-decoration-underline text-success title-bg rounded-2 pb-2"
          routerLink="/plant/{{allData.plant.id}}" >
        {{allData.plant!.name}}
      </h2>
      <div class="px-3">
        <span class="fs-4">Plant category:</span> <span class="fs-4 text-success">
          {{allData.plant!.category.name}}
        </span> <br>
        <span>Plant sub-category: </span>
        <span *ngFor="let subCat of allData.subCategoriesList" class="text-success"> {{subCat.name}}, </span>
        <p class="text-justify text-overflow fs-6">
          {{allData.plant!.description}}
        </p>
        <button type="button" class="btn btn-outline-success mb-2"
                routerLink="/plant/{{allData.plant.id}}">
          More ...
        </button>
      </div>
    </div>

  </div>
</div>
