<nav class="sticky-top shadow navbar navbar-expand-lg bg-white" *ngIf="isVisible()">
  <div class="container-fluid">
    <i class="bi bi-flower3 fs-3"></i>
    <a href="" class="navbar-brand pacifico fs-3"><span class="text-success">Green</span>Pot</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#hamburgerMenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="hamburgerMenu">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/catalog" >Plant Catalog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/posts" >Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <div class="navbar-nav d-flex">
        <div class="d-md-flex" *ngIf="isLoggedIn(); else notLoggedIn">
          <a class="nav-link active" aria-current="page" routerLink="/calendar" >MyCalendar</a>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="assets/avatar.jpg" class="rounded-circle aspect-ratio" alt="...">
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu">
              <a class="dropdown-item" routerLink="/profile/{{user}}">My Profile</a>
              <a class="dropdown-item" routerLink="/chat">Chat</a>
              <hr class="dropdown-divider">
              <a class="dropdown-item" routerLink="/add-plant">Add Plant</a>
              <a class="dropdown-item" routerLink="/add-post">Add Post</a>
              <hr class="dropdown-divider">
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
          </li>
        </div>

        <ng-template #notLoggedIn>
          <a routerLink="/register" class="nav-link" >Register</a>
          <a routerLink="/login" class="nav-link" >Login</a>
        </ng-template>

      </div>
    </div>
  </div>
</nav>
