<footer class="text-lg-start bg-white border-top text-muted mt-5" *ngIf="isVisible()">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span>Our social media: </span>
    </div>
    <div>
      <a href="" class="me-4 text-reset">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="bi-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="bi bi-github"></i>
      </a>
    </div>
  </section>
  <section class="">
    <div class="container text-justify mt-5">
      <div class="row mt-3">
        <div class="col-3 mx-auto mb-4">
          <h6 class="mb-4">
            <i class="bi bi-flower3 fs-3"></i>
            <a href="" class="navbar-brand pacifico fs-3"><span class="text-success">Green</span>Pot</a>
          </h6>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris libero est, semper in metus in,
            commodo porta mi. In scelerisque interdum mattis. Curabitur enim dui, molestie interdum mauris et,
            ultrices cursus est. Curabitur eget commodo risus.
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="bi bi-house-fill me-3"></i>pl. Piastowski 27 58-560 Jelenia Góra</p>
          <p>
            <i class="bi bi-mailbox2 me-3"></i>
            jeleniagora@pwr.edu.pl
          </p>
          <p><i class="bi bi-phone-fill me-3"></i> 75 642 59 31</p>
          <p><i class="bi bi-phone-fill me-3"></i> 75 755 15 99</p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4 border-top">
    © 2022 All rights reserved
  </div>
</footer>
