<div class="bg-white shadow rounded-1 container w-75 my-4 pt-2 pb-4 fs-5">
  <div class="row">
    <div id="imageCarousel" class="bg-white carousel slide col-md-9 col-12" data-bs-ride="true">
      <div class="carousel-indicators">
        <ng-template ngFor let-i="index" [ngForOf]="allData?.imagesList">
          <button type="button" data-bs-target="#imageCarousel" attr.data-bs-slide-to="{{i}}"
                  [attr.arria-current]="i === 0 ? 'true': null"
                  [attr.class]="i === 0 ? 'active' : null"></button>
        </ng-template>
      </div>
      <div class="carouselSize carousel-inner rounded-1">

        <div *ngFor="let image of allData?.imagesList,let i=index" [attr.class]="i === 0 ? 'active carousel-item' : 'carousel-item'">
          <img src="{{baseUrl + image.filePath}}" class="img-fluid rounded-1 w-100" alt="...">
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>
    <div class="text-sm-end col-md-3 col-12 mt-3 mt-md-0 fs-6 ps-2 pe-3">
      <div class="calendarBG rounded-3 shadow p-3 w-100">
        <ul class="list-group list-group-flush eventBG rounded-3 px-2 shadow ">
          <li class="list-group-item text-sm-start mt-3 h5 eventBG">Plant category:</li>
          <li class="list-group-item text-success dateBG rounded-3 shadow-sm mb-2">{{allData?.plant?.category?.name}}</li>
        </ul>
        <ul class="list-group list-group-flush eventBG rounded-3 px-2 shadow mt-2">
          <li class="list-group-item text-sm-start mt-3 h5 eventBG">Plant subcategory:</li>
          <li *ngFor="let subCat of allData?.subCategoriesList" class="mb-2 list-group-item text-success dateBG rounded-3 shadow-sm">{{subCat.name}}<br></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-9 col-12 px-5 mt-4 text-justify pt-4 border-top border-dark">
        <h1 class="pacifico text-success"> {{allData?.plant?.name}}</h1>
        <app-button-follow></app-button-follow>
        <div class="mt-4">
          <h3>Description</h3>
          <span>
            {{allData?.plant?.description}}
          </span>
        </div>
        <div class="mt-4">
          <h3>Requirements</h3>
          <span>
            {{allData?.plant?.requirements}}
          </span>
        </div>
        <div class="mt-4">
          <h3>Planting</h3>
          <span>
            {{allData?.plant?.planting}}
          </span>
        </div>
        <div class="mt-4">
          <h3>Growing</h3>
          <span>
            {{allData?.plant?.growing}}
          </span>
        </div>
      </div>
      <div class="col-md-3 col-12 text-center pt-4 fs-6 pe-1">
        <div class="shadow calendarBG p-4 rounded-3 w-100">
          <h4> Calender: </h4>
          <div class="shadow eventBG pb-2 px-2 rounded-3" *ngFor="let calendar of allData?.calendarList">
            <h5 class="mt-2 pt-2">{{calendar.event.name}}</h5>
            <div class="shadow-sm dateBG rounded-3">
              <i class="bi bi-hourglass-top"></i><span class="text-secondary">{{calendar.dateStart}}</span><br>
              <i class="bi bi-hourglass-bottom"></i><span class="text-secondary">{{calendar.dateEnd}}</span>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="w-75 px-5 mt-4 text-justify border-top border-1 border-dark">
      <h5 class="row my-3 px-3">
        Author: {{allData?.plant?.author?.name}} {{allData?.plant?.author?.surname}}
      </h5>
      <div class="row">
        <img src="assets/avatar.jpg" class="rounded-circle aspect-ratio col-md-3 col-12 px-0" alt="...">
        <div class="col-md-9 col-12">
          {{allData?.plant?.author?.description}}
        </div>
      </div>
    </div>

  </div>

</div>
