.carouselSize{
  height: 33vw;
}

.calendarBG{
  background-color: #ddb892;
}

.eventBG{
  background-color: #e6ccb2;
}

.dateBG{
  background-color: #ede0d4;
}

.aspect-ratio{
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  overflow: hidden;
}

@media screen and (max-width: 764px) {
  .fs-5{
    font-size: 0.8rem !important;
  }
}
