<div class="container bg-white shadow my-4 rounded-3">
  <div class="row">
    <div class="col-12 px-0">
      <img class="img-fluid" src="assets/hom.png">
    </div>
    <div class="col-md-6 offset-md-3 bg-white  overflow-hidden">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Day</th>
            <th>Night</th>
            <th>Summary</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dailyData">
            <td>{{getDayFromDate(data.dt)}}</td>
            <td style="white-space: nowrap"><img [src]="getWeatherIcon(data)"></td>
            <td>{{data.temp.max}}</td>
            <td>{{data.temp.min}}</td>
            <td>{{data.summary}}</td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#weatherModal">
        Set location
      </button>
    </div>
  </div>
  <div class="row mt-5 border-top">
    <div class="col-md-6 mt-3 p-3">
      <h5>Latest added plant:</h5>
      <app-card-plant-profile *ngFor="let plant of plants" [plant]="plant"></app-card-plant-profile>
    </div>
    <div class="col-md-6 mt-3 p-3">
      <h5>Latest added post:</h5>
      <app-card-post-profile *ngFor="let post of posts" [post]="post"></app-card-post-profile>
    </div>
  </div>
</div>





<!--MODAL-->
<div class="modal fade" id="weatherModal" tabindex="-1" aria-labelledby="weatherModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="weatherModalLabel">Choose location</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-geo-loc></app-geo-loc>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
