<div class="shadow container border text-center mt-5 w-50">
  <div class=" d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-9 col-lg-7 col-xl-8">
      <form class="mt-3" [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
        <i class="bi bi-flower3 fs-1"></i>
        <a class="navbar-brand pacifico fs-1" href=""><span class="text-success">Green</span>Pot</a>
        <div class="form-floating mt-4">
          <input type="text" id="name" formControlName="name" class="form-control h2" placeholder="Name">
          <label for="name">Name</label>
        </div>
        <div class="form-floating mt-2">
          <input type="text" id="surname" formControlName="surname" class="form-control h2" placeholder="Surname">
          <label for="surname">Surname</label>
        </div>
        <div class="form-floating mt-2">
          <input type="email" id="email" formControlName="email" class="form-control h2" placeholder="E-mail">
          <label for="email">E-mail</label>
          <div *ngIf="email.errors?.['email']">
            This e-mail is incorrect
          </div>
        </div>
        <div class="form-floating">
          <input type="password" id="password" formControlName="password" class="form-control h2" placeholder="password">
          <label for="password" >Password</label>
          <div *ngIf="password.errors?.['minlength']">
            Password must have at least 8 characters
          </div>
        </div>
        <div class="form-floating">
          <input type="password" id="password-2" formControlName="password2" class="form-control h2" placeholder="Repeat password">
          <label for="password-2">Confirm password</label>
          <div *ngIf="registerForm.errors?.['notMatched']">
            Password should be identical
          </div>
        </div>
        <div class="form-floating rounded err-color my-2">
          {{errorMessage}}
        </div>
        <button type="submit" class="shadow btn btn-light mt-3 w-50 fs-4">Register</button>
        <p class="text-center mt-4 mb-4"><a routerLink="/login" class="fw-bold text-body"><u>Login
          here!</u></a></p>
      </form>
    </div>
  </div>
</div>
